/* theme style */
/* Header */
#header {
	position: relative;
	z-index: 100;
}
#header .header-body {
	background: #FFF;
	border-top: 3px solid #EDEDED;
	border-bottom: 1px solid transparent;
	padding: 8px 0;
	width: 100%;
	z-index: 1001;
	min-height: 125px;
}
#header .header-container {
	position: relative;
	display: table;
}
#header .header-row {
	display: table-row;
	clear: both;
}
#header .header-column {
	display: table-cell;
	vertical-align: middle;
}
#header .header-column .header-row {
	display: block;
	clear: right;
}
#header .header-search .form-control {
	border-radius: 20px;
	font-size: 0.9em;
	height: 34px;
	margin: 0;
	padding: 6px 12px;
	transition: width 0.3s ease;
	perspective: 1000px;
	width: 170px;
}
#header .header-search .btn-default {
	background: transparent;
	border: 0 none;
	color: #CCC;
	position: absolute;
	right: 0;
	top: 2px;
	z-index: 3;
}
#header .header-social-icons {
	float: right;
	margin: 15px 0 0 10px;
}
#header .header-btn-collapse-nav {
	background: #CCC;
	color: #FFF;
	display: none;
	float: right;
	margin: 12px 0 8px 15px;
}
#header.header-narrow .header-body {
	min-height: 0px;
}
/* #header.header-narrow .header-logo img {
	margin: 12px 12px 12px 0;
} */
/* Header Nav Main */
@media (min-width: 992px) {
	#header .header-nav-main {
		float: right;
		margin: 12px 0 0;
		min-height: 45px;
	}

	#header .header-nav-main nav > ul > li > a {
		display: inline-block;
		border-radius: 4px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		padding: 10px 13px;
		text-transform: uppercase;
	}

	#header .header-nav-main nav > ul > li > a.dropdown-toggle .fa-caret-down {
		display: none;
	}

	#header .header-nav-main nav > ul > li > a.dropdown-toggle:after {
		border-style: solid;
		border-width: 4px;
		content: " ";
		float: right;
		margin-top: 7px;
		margin-left: 4px;
	}

	#header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li:hover > a {
		background: #CCC;
		color: #FFF;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
		top: -10000px;
		display: block;
		opacity: 0;
		left: auto;
		border-radius: 0 4px 4px;
		border: 0;
		border-top: 3px solid #CCC;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
		margin: -3px 0 0 0;
		min-width: 200px;
		padding: 5px;
		text-align: left;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
		border-bottom: 1px solid #f4f4f4;
		color: #777;
		font-size: 0.9em;
		font-weight: 400;
		padding: 8px 20px 8px 8px;
		position: relative;
		text-transform: none;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu {
		position: relative;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a .fa-caret-down {
		display: none;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
		border-color: transparent transparent transparent #CCC;
		border-style: solid;
		border-width: 4px 0 4px 4px;
		content: " ";
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
		display: block;
		margin-top: -8px;
		margin-left: -1px;
		border-radius: 4px;
		opacity: 0;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu:hover > .dropdown-menu {
		top: 0;
		opacity: 1;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li:last-child a {
		border-bottom: 0;
	}

	#header .header-nav-main nav > ul > li.dropdown.open li.dropdown-submenu > .dropdown-menu, #header .header-nav-main nav > ul > li.dropdown:hover li.dropdown-submenu > .dropdown-menu {
		left: 100%;
	}

	#header .header-nav-main nav > ul > li.dropdown.open > a, #header .header-nav-main nav > ul > li.dropdown:hover > a {
		padding-bottom: 15px;
	}

	#header .header-nav-main nav > ul > li.dropdown.open > .dropdown-menu, #header .header-nav-main nav > ul > li.dropdown:hover > .dropdown-menu {
		top: auto;
		display: block;
		opacity: 1;
	}

	#header .header-nav-main nav > ul > li.dropdown-reverse .dropdown-menu li a {
		padding-right: 8px;
		padding-left: 20px;
	}

	#header .header-nav-main nav > ul > li.dropdown-reverse .dropdown-menu li.dropdown-submenu > a:after {
		border-width: 4px 4px 4px 0;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega {
		position: static;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega > .dropdown-menu {
		border-radius: 4px;
		left: 15px;
		right: 15px;
		width: auto;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-content {
		padding: 20px 30px;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-title {
		color: #333333;
		display: block;
		font-size: 1em;
		font-weight: 600;
		margin-top: 20px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-title:first-child {
		margin-top: 0;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a {
		border: 0 none;
		border-radius: 4px;
		color: #777;
		display: block;
		font-size: 0.9em;
		font-weight: normal;
		margin: 0 0 0 -8px;
		padding: 3px 8px;
		text-shadow: none;
		text-transform: none;
		text-decoration: none;
	}

	#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li:hover > a {
		background: #f4f4f4;
	}

	#header .header-nav-main.header-nav-main-no-arrows nav > ul > li a.dropdown-toggle {
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	#header .header-nav-main.header-nav-main-no-arrows nav > ul > li a.dropdown-toggle:after {
		display: none;
	}

	#header .header-nav-main.header-nav-main-square {
		margin-bottom: -9px;
	}

	#header .header-nav-main.header-nav-main-square nav > ul > li > a {
		border-radius: 0;
	}

	#header .header-nav-main.header-nav-main-square nav > ul > li.dropdown .dropdown-menu {
		margin-top: 0;
		border-radius: 0;
	}

	#header .header-nav-main.header-nav-main-square nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu {
		border-radius: 0;
	}

	#header .header-nav-main.header-nav-main-square nav > ul > li.dropdown-mega > .dropdown-menu {
		border-radius: 0;
	}

	#header .header-nav-main.header-nav-main-square nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a {
		border-radius: 0;
	}

	#header .header-nav-main a > .thumb-info-preview {
		position: absolute;
		display: block;
		left: 100%;
		opacity: 0;
		border: 0;
		padding-left: 10px;
		background: transparent;
		overflow: visible;
		margin-top: 15px;
		top: -10000px;
		/* -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
		-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out; */
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		transform: translate3d(-20px, 0, 0);
	}

	#header .header-nav-main a > .thumb-info-preview .thumb-info-wrapper {
		background: #FFF;
		display: block;
		border-radius: 4px;
		border: 0;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
		margin: 0;
		padding: 4px;
		text-align: left;
		width: 190px;
	}

	#header .header-nav-main a > .thumb-info-preview .thumb-info-image {
		transition: all 6s linear 0s;
		width: 182px;
		height: 136px;
		min-height: 0;
	}

	#header .header-nav-main a:hover > .thumb-info-preview {
		transform: translate3d(0, 0, 0);
		top: 0;
		opacity: 1;
		margin-top: -5px;
	}

	#header .header-nav-main .dropdown-reverse a > .thumb-info-preview {
		transform: translate3d(20px, 0, 0);
		right: 100%;
		left: auto;
		padding-left: 0;
		margin-right: 10px;
	}

	#header .header-nav-main .dropdown-reverse a:hover > .thumb-info-preview {
		transform: translate3d(0, 0, 0);
	}

	#header .header-nav {
		display: block !important;
	}

	#header .header-nav.header-nav-stripe {
		margin-bottom: -23px;
	}

	#header .header-nav.header-nav-stripe nav > ul > li > a, #header .header-nav.header-nav-stripe nav > ul > li:hover > a {
		background: transparent;
		padding: 40px 13px 38px;
		margin: 0;
	}

	#header .header-nav.header-nav-stripe nav > ul > li > a {
		color: #444;
	}

	#header .header-nav.header-nav-stripe nav > ul > li > a.dropdown-toggle:after {
		border-color: #444 transparent transparent transparent;
	}

	#header .header-nav.header-nav-stripe nav > ul > li:hover > a {
		color: #FFF;
	}

	#header .header-nav.header-nav-stripe .header-social-icons {
		margin-top: 45px;
	}

	#header .header-nav.header-nav-top-line {
		margin-bottom: -7px;
	}

	#header .header-nav.header-nav-top-line nav > ul > li > a, #header .header-nav.header-nav-top-line nav > ul > li:hover > a {
		background: transparent;
		color: #444;
		padding: 21px 13px 35px;
		margin: 0;
	}

	#header .header-nav.header-nav-top-line nav > ul > li > a:before, #header .header-nav.header-nav-top-line nav > ul > li:hover > a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		top: -16px;
		left: 0;
		opacity: 0;
	}

	#header .header-nav.header-nav-top-line nav > ul > li.active > a:before, #header .header-nav.header-nav-top-line nav > ul > li:hover > a:before {
		opacity: 1;
	}

	#header .header-nav.header-nav-top-line nav > ul > li > a.dropdown-toggle:after {
		border-color: #444 transparent transparent transparent;
	}

	#header .header-nav.header-nav-top-line .header-social-icons {
		margin-top: 27px;
	}

	#header .header-nav.header-nav-dark-dropdown {
		margin-bottom: -9px;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li > a, #header .header-nav.header-nav-dark-dropdown nav > ul > li:hover > a {
		background: transparent;
		color: #444;
		padding: 21px 13px 35px;
		margin: 0;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li > a.dropdown-toggle:after {
		border-color: #444 transparent transparent transparent;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown li a {
		border-bottom-color: #2a2a2a;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu {
		background: #1e1e1e;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a {
		color: #969696;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a:hover, #header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown .dropdown-menu > li > a:focus {
		background: #282828;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown.dropdown-mega .dropdown-mega-sub-title {
		color: #ababab;
	}

	#header .header-nav.header-nav-dark-dropdown nav > ul > li.dropdown.dropdown-mega .dropdown-mega-sub-nav > li:hover > a {
		background: #282828;
	}

	#header .header-nav.header-nav-dark-dropdown .header-social-icons {
		margin-top: 27px;
	}

	#header .header-nav.header-nav-center .header-nav-main {
		float: none;
		margin: 0;
	}

	#header .header-nav.header-nav-center .header-nav-main > nav {
		width: 100%;
		text-align: center;
	}

	#header .header-nav.header-nav-center .header-nav-main > nav > ul > li {
		display: inline-block;
		float: none;
		text-align: left;
	}

	#header .header-nav-main {
		display: block !important;
		height: auto !important;
	}

	#header .header-nav-bar {
		background: #F4F4F4;
		padding: 0 10px 5px;
		margin-bottom: 0;
	}

	#header .header-nav-bar .header-nav-main {
		float: left;
		margin-bottom: 0;
	}
}
/* Header Nav Main Mobile */
@media (max-width: 991px) {
	#header .header-nav-main {
		background: transparent;
		clear: both;
		float: none;
	}

	#header .header-nav-main nav {
		margin: 0 0 6px;
	}

	#header .header-nav-main nav > ul li {
		border-bottom: 1px solid #e8e8e8;
		clear: both;
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

	#header .header-nav-main nav > ul li a {
		font-size: 13px;
		font-style: normal;
		line-height: 20px;
		padding: 7px 8px;
		margin: 1px 0;
		border-radius: 4px;
	}

	#header .header-nav-main nav > ul li a .fa-caret-down {
		line-height: 35px;
		min-height: 38px;
		min-width: 30px;
		position: absolute;
		right: 5px;
		text-align: center;
		top: 0;
	}

	#header .header-nav-main nav > ul li.dropdown .dropdown-menu {
		background: transparent;
		padding: 0;
		margin: 0;
		font-size: 13px;
		box-shadow: none;
		border-radius: 0;
		border: 0;
		clear: both;
		display: none;
		float: none;
		position: static;
	}

	#header .header-nav-main nav > ul li.dropdown .dropdown-menu li.dropdown-submenu.opened > .dropdown-menu {
		display: block;
		margin-left: 20px;
	}

	#header .header-nav-main nav > ul li.dropdown.opened > .dropdown-menu {
		display: block;
		margin-left: 20px;
	}

	#header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-title {
		margin-top: 10px;
		display: block;
	}

	#header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-nav {
		margin: 0 0 0 20px;
		padding: 0;
		list-style: none;
	}

	#header .header-nav-main nav > ul li.dropdown-mega .dropdown-mega-sub-nav > li > a {
		display: block;
		text-decoration: none;
	}

	#header .header-nav-main nav > ul li:last-child {
		border-bottom: 0;
	}

	#header .header-nav-main nav > ul > li > a {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 1px;
		margin-bottom: 1px;
	}

	#header .header-nav-main nav > ul > li.active > a, #header .header-nav-main nav > ul > li.active > a:focus, #header .header-nav-main nav > ul > li.active > a:hover {
		color: #FFF;
	}

	#header .header-nav-main nav .not-included {
		margin: 0;
	}

	#header .header-nav-main a > .thumb-info-preview {
		display: none !important;
	}

	#header .header-btn-collapse-nav {
		outline: 0;
		display: block;
	}

	#header .header-nav-bar {
		margin: 0 auto;
	}

	#header .header-nav-bar .header-btn-collapse-nav {
		margin-top: 14px;
	}

	#header.header-transparent .header-nav-main {
		padding: 10px;
		margin-bottom: 10px;
		background: #FFF;
		border-radius: 4px;
	}

	#header.header-semi-transparent .header-nav-main {
		padding: 10px;
		margin-bottom: 10px;
		background: #FFF;
		border-radius: 4px;
	}

	#header.header-semi-transparent-light .header-nav-main {
		padding: 10px;
		margin-bottom: 10px;
		background: #FFF;
		border-radius: 4px;
	}

	html.sticky-header-enabled #header .header-nav-main {
		max-height: 350px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	html.sticky-header-enabled #header .header-nav-main.collapsing {
		overflow: hidden;
	}
}
@media (min-width: 992px) {
	html:not(.sticky-header-active) #header.header-transparent .header-nav-main nav > ul > li:not(.active) > a {
		color: #FFF;
	}

	html:not(.sticky-header-active) #header.header-transparent .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after {
		border-color: #FFF transparent transparent transparent;
	}

	html #header.header-semi-transparent .header-nav-main nav > ul > li:not(.active) > a {
		color: #FFF;
	}

	html #header.header-semi-transparent .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after {
		border-color: #FFF transparent transparent transparent;
	}

	html:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav > ul > li:not(.active) > a {
		color: #FFF;
	}

	html:not(.sticky-header-active) #header.header-semi-transparent-light .header-nav-main nav > ul > li:not(.active) > a.dropdown-toggle:after {
		border-color: #FFF transparent transparent transparent;
	}
}
/* theme style */
/* theme elements */
/* Social Icons */
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
	transition: all 0.2s ease;
	background: #FFF;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
}

.social-icons li:hover a {
	background: #171717;
	color: #FFF !important;
}
/* theme elements */
/* my style */
ul.nav-pills > li.active > a {
	background-color: #ff530a;
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
ul.nav-pills > li > a{
	text-decoration: none;
}
a {
	color: rgb(114, 114, 114) ;
	font:bold;
}
ul > li.dropdown .dropdown-menu {
    border-top-color: #ff530a !important;
}
.icons{
    color: rgb(114, 114, 114) ;
}
li:hover > a {
    background-color: #ff530a !important;
}
#header .header-nav-main nav > ul > li > a.dropdown{
	color: white;
}
@media (min-width: 992px){
#header .header-nav-main nav > ul > li > a.dropdown-toggle:after {
    border-color: #ff530a transparent transparent transparent;
}}
@media (min-width: 992px){
#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #ff530a;
}}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a:hover {
	color:white;
}
#header .header-nav-main nav > ul > li.dropdown.dropdown-menu li a{
	text-decoration: none;
}

.dropdown-menu>li>a {
	display: block;
}
 a:hover {
	text-decoration: none;
}

