<div class="row">
    <div class="divs">
        <section class="section section-default section-with-divider">
            <div class="divider divider-solid divider-style-4">
                <i class="fa fa-chevron-down"></i>
            </div>
            <app-steps [item]='item'></app-steps>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-lg pull-right" type="" id="next" (click)="nextComponenet()">NEXT</button>
                    <button class="btn btn-primary  btn-lg pull-right" type="" id="prev" (click)="prevComponenet()">PREV</button>
                </div>
            </div>
        </section>
    </div>
</div>