<div class="row">
    <div class="col-md-5 col-xs-7">
      <h3> Ingredaints:
      </h3>
    </div>
    <!-- <div class="col-md-2 col-xs-2">
      <input type="number" placeholder="no" class="form-control">
    </div> -->
    <!-- <div class="col-md-1 col-xs-4">
      <i class="fa fa-users fa-lg"></i>
    </div>
    <div class="col-md-2">
      <select style="width:100px; height:35px;">
        <option>Us</option>
        <option>Metric</option>
      </select>
  </div> -->
</div>
<br>
<div class="row">
  <ul class="list list-icons">
     <app-miniItem [RecipeItem]='item' *ngFor='let item of RecipeItem.ingredients'></app-miniItem>
  </ul>
</div>