<div class="container">
<h1 style="color:#ff530a">Shopping Cart</h1>
<hr>
<table class="table table-hover">
    <thead>
        <th>Ingrediant </th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
    </thead>
    <tbody>
        <tr>
            <td>tomato</td>
            <td>2</td>
            <td> 20.5 </td>
            <td> <i class="fa fa-trash" id="plus" (click)="onDelete()"></i> </td>
        </tr>
        <tr>
            <td>tomato</td>
            <td>2</td>
            <td> 20.5 </td>
            <td> <i class="fa fa-trash" id="plus" (click)="onDelete()"></i> </td>            
        </tr> 
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td style="color:#ff530a">$total</td>
            <td> <i class="fa fa-trash" style="color:#ff530a" id="plus" (click)="onDelete()"></i> </td>            
                     
        </tr>
    </tfoot>
</table>
</div>
