.addbtn{
    color: #fff;
    background-color: #ff530a;
    border-color:#ff530a;
}

.addbtn:focus{
    color: #fff;
    background-color: #ff530a;
    border-color:#ff530a;
}
#ingrediant{
    display:inline;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #ff530a;
    border-color: #ff530a;
}