.addbtn{
    color: #fff;
    background-color: #ff530a;
    border-color:#ff530a;
}

.addbtn:focus{
    color: #fff;
    background-color: #ff530a;
    border-color:#ff530a;
}
#ingrediant{
    display:inline;
}