<link rel="stylesheet" href="../../../../../assets/css/bootstrap.min.css">

<!-- <link rel="stylesheet" href="../../../../../assets/css/theme-elements.css">
<link rel="stylesheet" href="../../../../../assets/css/theme.css">
<link rel="stylesheet" href="../../../../../assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../../../../assets/css/owl.theme.default.min.css"> -->

<!-- 
<script src="../../../../../assets/js/jquery.min.js"></script>
<script src="../../../../../assets/js/jquery.appear.min.js"></script>
<script src="../../../../../assets/js/jquery.easing.min.js"></script> 
<script src="../../../../../assets/js/owl.carousel.min.js"></script>
<script src="../../../../../assets/js/theme.js"></script>
<script src="../../../../../assets/js/theme.init.js"></script> -->

<!-- body=============================== -->
<div class="container col-md-4">
  
    <li>
        <div class="progress-bars">
            <div class="progress-label">
                <span>
                    <i class="fas fa-check-circle"></i> {{item.nutiritionName}} {{item.nutiritionType}} </span>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" data-appear-progress-animation="33%">
                    <span>{{item.percentage}}%</span>
                </div>
            </div>
        </div>
    </li>
</div>