ul.nav-pills > li.active > a {
    background-color: #ff530a;
    color:white !important;
}
ul.nav-pills > li.active > a:hover, ul.nav-pills > li.active > a:focus {
    background-color: #feaa26;
}
.nav-pills>li {
    float: left;
    color: gray !important;
}
/* .list.list-icons li > .fa:first-child, .list.list-icons li a:first-child > .fa:first-child, .list.list-icons li > .icons:first-child, .list.list-icons li a:first-child > .icons:first-child {
    color: #feaa26;
    border-color: #ff530a;
} */
.thumb-info .thumb-info-action-icon {
    background-color: #ff530a;
}
  .fa-check-circle {
    color: #e66646 !important;
} 
html .progress-bar-primary {
    background-color: #fd5e24;
}
.owl-carousel .owl-nav [class*="owl-"] {
    color: #ffffff;
    background-color: #ff530a;
    border-color:#feaa26;
}
.owl-carousel .owl-nav [class*="owl-"]:active, .owl-carousel .owl-nav [class*="owl-"]:focus, .owl-carousel .owl-nav [class*="owl-"]:active:hover, .owl-carousel .owl-nav [class*="owl-"]:active:focus {
    border-color: #feaa26;
    background-color:#ff530a;
}


.owl-carousel .owl-nav [class*="owl-"]:hover {
    border-color: #feaa26;
    background-color: #ff530a;
}
/* .owl-carousel .owl-item img {
    transform-style: unset;
    background: url(css/shfaf.png);
    opacity: 1;
} */
h3{
    color: #ff530a;
}
html .toggle-primary.toggle-simple .toggle > label:after {
    background-color: #ff530a;
}
.thumb-info .thumb-info-type {
    background-color: #ff530a;
}