<div class="container">
  <div class="row" style="padding-top:5%">
    <div class="col-md-5">
      <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': false, 'autoplayTimeout': 3000}">
        <div>
          <span class="thumb-info">
            <span class="thumb-info-wrapper">
              <span>
                <img alt="" class="img-responsive" src="../../../assets/images/cooking method/grill.jpg">
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h2 class="mt-sm h2">Broil</h2>
      <p class="">Tournée (pronounced tour-nay) is French for the word "turned." The term refers to a method of cutting and peeling root
        vegetables into oblong, seven-sided football-like shapes.
      </p>
    </div>
  </div>
<hr>
  <!-- tag gallary-->
</div>
