
                  <li class="row">
                      <div class="post-image col-md-4">
                          <div class="img-thumbnail">
                              <a href="">
                                  <img alt="" width="60" height="60" (click)="redirectToOther()" class="img-responsive" src="{{topic.ImageURL}}">
                              </a>
                          </div>
                      </div>
                      <div class="post-info col-md-6">
                        
                          <span>{{topic.Name}}</span>
                      </div>
                    </li>       
              
  
