#plus {
    color: white;
    background-color: #ff530a;
    padding: 7px;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.fa.pull-right {
    margin-left: .3em;
}
.pull-right {
    float: right !important;
}
/*--------------*/
#cookingsearch .form-control {
    border-radius: 20px;
    font-size: 0.9em;
    height: 34px;
    margin: 0;
    padding: 6px 12px;
    width: 400px;
}
#cookingsearch .input-group-btn .btn-default {
    background: transparent;
    border: 0 none;
    color: #CCC;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
/*--------------------*/
 .page-header {
    background-color:#171717d1 ;
    border-bottom: 5px solid #CCC;
    border-top: 5px solid #384045;
    margin: 0 0 35px 0;
    min-height: 50px;
    padding: 20px 0;
    position: relative;
    text-align: left;}
    
   
    .page-header h1 {
        border-bottom: 5px solid #CCC;
        color: #fff;
        display: inline-block;
        font-size: 32px;
        font-weight: 200;
        line-height: 32px;
        margin: 0 0 -25px;
        padding: 0 0 25px;
        position: relative;
    }
    .page-header h1 {
        border-bottom-color: #ff530a;
    }
    /*----------------*/
    .image-gallery-item{
        width:400px;
        height: 400px;
    }