<section class="cuttingItem">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <br>
        <h2 class="mb-none mt-xl font-weight-semibold">Our Services</h2>

        <!-- <div class="divider  divider-small divider-small-center mb-xl">
                  <hr class="orange">
              </div> -->
      </div>
    </div>
    <br>
    <br>

    <br>
    <div class="row mt-xl">

      <div class="col-md-4 center">
        <div class="feature-box feature-box-style-4 " data-appear-animation="fadeInUp" data-appear-animation-delay="300">
          <span class="featured-boxes featured-boxes-style-6 p-none m-none">
            <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
              <span class="box-content p-none m-none">
                <!-- <i class="icon-featured icon-puzzle icons"></i> -->
                <img src="../../../assets/images/services/sanitation.png" style="max-width:100%" />
                <br/>
              </span>
            </span>
          </span>
          <div class="feature-box-info">
            <a routerLink="/microOrganismListing">
              <h4 class="mb-sm">Sanitation and Safety</h4>
            </a>
            <p class="mb-lg">There are three main types of hazards or contaminants that can cause unsafe food:
                 Biological, chemical, and physical. Biological includes microorganisms.
                 </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="feature-box feature-box-style-4 " data-appear-animation="fadeInUp" data-appear-animation-delay="0">
          <span class="featured-boxes featured-boxes-style-6 p-none m-none">
            <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
              <span class="box-content p-none m-none">
                <!-- <i class="icon-featured icon-bulb icons"></i> -->
                <img src="../../../assets/images/services/tools.png" />
                <br/>
              </span>
            </span>
          </span>
          <br/>
          <div class="feature-box-info">
            <a routerLink="/cuttingMethodListing">
              <h4 class="mb-sm">Cutting Methods</h4>
            </a>
            <p class="mb-lg"> Having the knife skills and know-how to cut a brunoise,
                 matchstick or batonnet will not only help you improve your knife skills,
                 but also improve the visual appeal and professionalism of the food you cook.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <div class="feature-box feature-box-style-4 " data-appear-animation="fadeInUp" data-appear-animation-delay="600">
          <span class="featured-boxes featured-boxes-style-6 p-none m-none">
            <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
              <span class="box-content p-none m-none">
                <!-- <i class="icon-featured icon-rocket icons"></i> -->
                <img src="../../../assets/images/services/cooking.png" style="max-width:100%" />
                <br>
                <br>

              </span>
            </span>
          </span>

          <div class="feature-box-info">
            <a routerLink="/ToolListing">
              <h4 class="mb-sm">Tools and Equipment</h4>
            </a>
            <p class="mb-lg">When we started our cooking journey, we were full of confusion and frustration as we began our search for the best cookware and essential kitchen tools for minimalist cooks.
                 When you start with no knowledge, the learning curve is immense.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
