<!-- <link src="../../../../assets/css/demos/demo-one-page-agency.css"> -->
<section id="who-we-are" class="section section-no-border background-color-light m-none">
  <div class="container">
      <div class="row center">
          <div class="col-md-12 how">
              <h2>Who Are We?</h2>
              <p class="custom-section-sub-title">ABOUT Food Hour</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <p>
                  <strong class="font-weight-semibold text-color-dark">Food hour website is an integrated cooking website which contains a highly large number of different types of recipes.
                 
                  </strong>
                  <br>  We hope to correct wrong concepts in cooking ways and try to spread awareness as much as possible between large amounts 
                  of people all over the world by concentrating on the sanitation and safety for a healthier cooking.            </p>
          </div>
          <div class="col-md-6 custom-margin-3 center">
              <svg id="curved-line-1" x="0px" y="0px" width="545px" height="305px" viewBox="0 0 545 305" enable-background="new 0 0 545 305"
                  xml:space="preserve">
                  <circle class="circle appear-animation" data-appear-animation="circle-anim" fill="none" stroke="#231F20" stroke-miterlimit="10"
                      stroke-dasharray="2.0106,1.0053" cx="10.206" cy="9.91" r="8.167" />
                  <circle class="circle-dashed" fill="none" stroke="white" stroke-miterlimit="10" stroke-dasharray="3,3" cx="10.206" cy="9.91"
                      r="8.167" />
                  <path class="path appear-animation" data-appear-animation="line-anim" data-appear-animation-delay="800" fill="none" stroke="#010101"
                      stroke-miterlimit="10" stroke-dasharray="2.0024,2.0024" d="M11.469,21.046
                              c3.191,19.81,32.779,130.736,292.756,87.863c280.979-46.337,240.717,145.948,212.215,185.401"
                  />
                  <path class="path-dashed" fill="none" stroke="white" stroke-miterlimit="10" stroke-dasharray="3,3" d="M11.469,21.046
                                  c3.191,19.81,32.779,130.736,292.756,87.863c280.979-46.337,240.717,145.948,212.215,185.401"
                  />
              </svg>
              <img src="../../../assets/images/home/cooker2-img.png" alt class="custom-image-style-1 _left" data-appear-animation="zoomIn" data-appear-animation-delay="1300"
              />
              <img src="../../../assets/images/home/new2.jpg" alt class="custom-image-style-1 _middle" data-appear-animation="zoomIn" data-appear-animation-delay="1800"
              />
              <img src="../../../assets/images/home/ball3.png" alt class="custom-image-style-1 _right" data-appear-animation="zoomIn" data-appear-animation-delay="2300"
              />
          </div>
      </div>
  </div>
</section>

<!-- <app-services></app-services> -->