<li class="col-md-2">
  
    <div class="circular-bar circular-bar-sm">
      <div class="circular-bar-chart" data-percent="35" data-plugin-options="{'size': 40, 'lineWidth': 3, 'barColor': '#ff530a'}">
        <label data-plugin-tooltip="hhhhhhhhh" class="nutritions" data-toggle="tooltip" data-placement="right" title="" data-original-title=" 75% FAT">{{RecipeItem.title}}
        </label>
      </div>
    </div>
    <br>
  
</li>
<!-- <circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
></circle-progress> -->
<!-- <div class="progress-circle over50 p99 col-md-2">
  <span>99%</span>
  <div class="left-half-clipper">
     <div class="first50-bar"></div>
     <div class="value-bar"></div>
  </div>
</div> -->
