<div class="body">

		<div role="main" class="main">

			<div class="container">
				<div class="row">
					<P style="color:white;">Post</P>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="blog-posts single-post">

							<article class="post post-large blog-single-post">

								<div class="post-content">

								
									<app-post-content [postContent] = "postItem"></app-post-content>
									<!-- <app-author [author] = "postItem.author"></app-author> -->

									<div class="post-block post-comments clearfix">
										<h3 class="heading-primary">
											<i class="fa fa-comments"></i>Comments ({{postItem.comments.length}})</h3>

										<ul class="comments">


											
										<app-comment  [comment] = "x" *ngFor = " let x of postItem.comments"></app-comment>
											
										</ul>

									</div>
								    <app-add-comment></app-add-comment> 

								</div>
							</article>

						</div>
					</div>

					<div class="col-md-3">
						<aside class="sidebar">

							<!-- <app-search></app-search> -->
							<!-- <form>
								<div class="input-group input-group-lg">
									<input class="form-control" placeholder="Search..." 
									name="s" id="s" type="text" [(ngModel)]='txtsearch' (change)="search($event)">
									<span class="input-group-btn" >
										<button type="submit" class="btn btn-primary btn-lg" id="btnsearch">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							  </form> -->

							<hr>

						<app-small-tab [popularPosts] = "popularPosts" [recentPosts]="recentPosts" ></app-small-tab>
							<!-- <div class="tabs mb-xlg">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#popularPosts" data-toggle="tab">
											<i class="fa fa-star"></i> Popular</a>
									</li>
									<li>
										<a href="#recentPosts" data-toggle="tab">Recent</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="popularPosts">
										<ul class="simple-post-list">
												<app-small-post [smallpost]='post'  *ngFor = 'let post of popularPosts'></app-small-post>
														
										</ul>
									</div>
									<div class="tab-pane" id="recentPosts">
										<ul class="simple-post-list">
												<app-small-post [smallpost]='post'  *ngFor = 'let post of recentPosts'></app-small-post>
										</ul>
									</div>
								</div>
							</div> -->

							<hr>

						</aside>
					</div>
				</div>

			</div>

		</div>


	</div>