<div class="row">
    <div class="col-md-6">
  
        <div>
            <img alt=""  class="img-responsive " src="{{Micro.img}}">
        </div>
  
    </div>

    <div class="col-md-6">
  
        <div class="summary entry-summary">
  
            <h1 class="mb-none">
                <strong>{{Micro.name }}</strong>
            </h1>
            <br>
  
  
            <p class="taller">
                {{Micro.description}}
            </p>
  
            <div class="product_meta">
                <span class="posted_in">
                    Category:
                    <span>{{Micro.type}}</span>
  
                </span>
            </div>
  
        </div>
  
  
    </div>

  </div>
  
