<article class="post post-large blog-single-post">
  <div class="post-date">
    <span class="day">{{item.date.day}}</span>
    <span class="month">{{item.date.month}}</span>
  </div>
  <h2>
    <a href="blog-post.html"> {{item.title}}</a>
  </h2>

  <div class="post-meta">
    <span>
      <i class="fa fa-user"></i> By
      <a href="#">{{item.UserName}}</a>
    </span>
    <span>
      <i class="fa fa-tag"></i>
      <a href="#">Other recipies</a>,
    </span>
    <span>
      <i class="fa fa-comments"></i>
      <a href="#">12 Comments</a>
    </span>
  </div>
</article>
<hr>