
body{
    overflow-y: hidden !important;
}
 .hero-area {
    /*content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;*/
    /* background-image: url(9.jpg) !important; */
   
   
}
/*slider page---------------------------*/


body .btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff530a !important;
    border-color: #ff530a !important;
}

/*form page---------------------------*/

.page-header {
    background-color: #404040;
}
section.page-header h1 {
    border-bottom-color: #ff530a;
}

html .btn-primary {
   color: #ffffff !important;
   background-color: #ff530a;
   border-color: #ff530a;
}
html .btn-primary:hover {
    color: #ffffff;
    background-color: #feaa26;
    border-color: #feaa26;
 } 
 html .featured-box-primary .box-content {
    border-top-color: #ff530a;
 }  
 .featured-box-primary h4 {
    color: #ff530a !important;
}
a {
    color: #ff530a ;
}
/*user page---------------------------*/
#header .header-nav-main nav > ul > li > a {
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 13px;
    text-transform: uppercase;
}
#ourBlog {
     margin-top: 0px; 
}

.text-decoration-none{
    color: rgb(99, 90, 90);
}
.text-decoration-none:hover{
    color: #ff530a ;
}

section.more {
    /* background-image: url('../header.jpg') !important; */
    background-size: cover;
    border-top:none !important;
    margin: 30px 0;
    padding: 50px 0;
}
.img-circle {
    border-radius: 50%;
    width: 40%;
    height: 100%;
}
.testimonial .testimonial-author strong {
    color: white;
    display:block; 
    padding-top: 10px;
    margin-bottom: -5px;
}
html .background-color-primary {
    background-color: #feaa26 !important;
}

.medical-schedules .box-one::after {
    
    border-left: 40px solid #feaa26;
}
html .background-color-secondary {
    background-color: #ff530a!important;
}
.medical-schedules h4 {
    padding-top: 15px !important;
}
 .pushtop {
   
    margin-left: 17px !important;
    padding-bottom: 80px !important;
}
.medical-schedules .box-four .feature-box-icon {
    margin-top: 0px !important;
}
.notifications > li .notification-icon .badge {
    background: #ff530a !important;
}
 .cookinglogo {
    vertical-align: middle;
    width:200px;
    height: 45px;
}
       
/*ingredient page---------------------------*/


.nav-pills>li {
    float: left;
    color: gray !important;
    
}

/* .list.list-icons li > .fa:first-child, .list.list-icons li a:first-child > .fa:first-child, .list.list-icons li > .icons:first-child, .list.list-icons li a:first-child > .icons:first-child {
    color: #feaa26;
    border-color: #ff530a;
} */
.thumb-info .thumb-info-action-icon {
    background-color: #ff530a;
}
  .fa-check-circle {
    color: #e66646 !important;
} 
html .progress-bar-primary {
    background-color: #fd5e24;
}
.owl-carousel .owl-nav [class*="owl-"] {
    color: #ffffff;
    background-color: #ff530a;
    border-color:#feaa26;
}
.owl-carousel .owl-nav [class*="owl-"]:active, .owl-carousel .owl-nav [class*="owl-"]:focus, .owl-carousel .owl-nav [class*="owl-"]:active:hover, .owl-carousel .owl-nav [class*="owl-"]:active:focus {
    border-color: #feaa26;
    background-color:#ff530a;
}


.owl-carousel .owl-nav [class*="owl-"]:hover {
    border-color: #feaa26;
    background-color: #ff530a;
}
/* .owl-carousel .owl-item img {
    transform-style: unset;
    background: url(css/shfaf.png);
    opacity: 1;
} */
.fa-share-alt, div.share-icons {
    background-color: #ff530a !important;
}
#fav {
    padding: 15px 15px;
    border-radius: 100%;
    font-size: 25px;
    background-color: #ff530a !important;
}
.text-decoration-none{
    color: rgb(99, 90, 90);
}
.text-decoration-none:hover{
    color: #ff530a ;
}
h3{
    color: #ff530a;
}
html .toggle-primary.toggle-simple .toggle > label:after {
    background-color: #ff530a;
}
.thumb-info .thumb-info-type {
    background-color: #ff530a;
}
.fa-minus, .fa-pencil-alt{
    background-color: #ff530a;
    margin-bottom: 18px;
    border-radius: 100%;
    color: white;
    padding: 7px ;
    margin-right: 8px;
    margin-top: 9px;
}
