
  <li class="col-md-4 col-sm-6 col-xs-12 isotope-item websites">

    <span class="thumb-info thumb-info-lighten thumb-info-bottom-info thumb-info-centered-icons">
      <span class="thumb-info-wrapper">
        <img src="../assets/images/shop list/Tomato.png" class="img-responsive" alt="">
        <span class="thumb-info-title">
          <form>
            <div class="form-group row">
              <div class="col-xs-4">
                <b style="font-size:70%;"> Quantity: </b>
                <input class="form-control ingredient" id="ex1" type="text">
              </div>
              <div class="col-xs-4">
                <b style="font-size:70%;"> By:</b>
                <select class="form-control ingredient measure" id="ex2">
                  <option class="measure">Kg</option>
                  <option class="measure">Grams</option>
                  <option class="measure">Ounce</option>
                  <option class="measure">Pound</option>
                  <option class="measure">Count</option>

                </select>
              </div>
              <div class="col-xs-4">
                <b style="font-size:70%;">Price:</b>
                <input class="form-control ingredient" id="ex3" type="text">
              </div>
            </div>
          </form>

        </span>
        <span class="thumb-info-action">
          <a href="#">
            <span class="thumb-info-action-icon thumb-info-action-icon-light">
              <i class="fa fa-check-circle"></i>
            </span>
          </a>
          <a href="#">
            <span class="thumb-info-action-icon thumb-info-action-icon-light">
              <i class="fa fa-trash"></i>
            </span>
          </a>
        </span>
      </span>
    </span>
  </li>
