<div class="row">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
          <li data-option-value="*" class="active">
            <a href="#">Vegetables and Fruits</a>
          </li>
          <li data-option-value=".websites">
            <a href="#">Cheese and Milk</a>
          </li>
          <li data-option-value=".logos">
            <a href="#">Meats</a>
          </li>
          <li data-option-value=".brands">
            <a href="#">Fish</a>
          </li>
        </ul>
        <br>
        <div class="row">

          <div class="sort-destination-loader sort-destination-loader-showing">
            <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'margin': 5, 'dots': false, 'nav': true}">
              <div>
                  <ul class="image-gallery sort-destination lightbox" data-sort-id="portfolio" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
               <app-shop-item></app-shop-item>
               <app-shop-item></app-shop-item>
               <app-shop-item></app-shop-item>
              </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
