
html {
	direction: ltr;
	overflow-x: hidden;
	box-shadow: none !important;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

body a {
	outline: none !important;
}

li {
	line-height: 24px;
}
/* #Footer */
p{
    font-size: 13px;
    color: #777;
}
#footer {
	background: #0e0e0e;
	border-top: 4px solid #0e0e0e;
	font-size: 15px;
	margin-top: 50px;
	padding: 70px 0 0;
	position: relative;
	clear: both;
}

#footer .container .row > div {
	margin-bottom: 25px;
}

#footer .container input:focus {
	box-shadow: none;
}

#footer a:hover {
	color: #CCC;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
	color: #FFF;
}

#footer h4 {
	font-size:30px;
	font-weight: 200;
}

#footer h5 {
	color: #CCC;
}

#footer ul.nav-list > li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	line-height: 20px;
	padding-bottom: 11px;
}

#footer ul.nav-list > li:last-child a {
	border-bottom: 0;
}

#footer ul.nav-list > li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

#footer ul.list.icons li {
	margin-bottom: 5px;
}

#footer form {
	opacity: 0.85;
}

#footer form label.error {
	line-height: 16px;
	margin: 5px 0 -5px;
	display: block;
	clear: both;
}

#footer form .alert {
	padding: 6px;
	text-align: center;
}

#footer .footer-ribbon {
	background: #999;
	position: absolute;
	margin: -90px 0 0 14px;
	padding: 10px 20px 6px 20px;
}

#footer .footer-ribbon:before {
	border-right: 10px solid #646464;
	border-top: 16px solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -10px;
	position: absolute;
	top: 0;
	width: 7px;
}

#footer .footer-ribbon span {
	color: #FFF;
	font-size: 25px;
	font-family: "Shadows Into Light", cursive;
}

#footer .newsletter form {
	width: 100%;
	max-width: 262px;
}

#footer .newsletter form input.form-control {
	height: 34px;
	padding: 6px 12px;
}

#footer .alert a {
	color: #222;
}

#footer .alert a:hover {
	color: #666;
}

#footer .twitter .fa, #footer .twitter .icons {
	clear: both;
	font-size: 23px;
	position: relative;
	top: 3px;
}

#footer .twitter .meta {
	color: #999;
	display: block;
	font-size: 16px;
	padding-top: 3px;
}

#footer .twitter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .twitter ul li {
	padding-bottom: 20px;
}

#footer .twitter ul li:last-child {
	padding-bottom: 0;
}

#footer .twitter-account {
	color: #FFF;
	display: block;
	font-size: 16px;
	margin: -15px 0 5px;
	opacity: 0.55;
}

#footer .twitter-account:hover {
	opacity: 1;
}

#footer .contact {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .contact i {
	display: block;
	float: left;
	font-size: 1.2em;
	margin: 7px 8px 10px 0;
	position: relative;
	text-align: center;
	top: -2px;
	width: 16px;
}

#footer .contact i.fa-envelope {
	font-size: 1em;
	top: 0;
}

#footer .contact p {
	margin-bottom: 10px;
}

#footer .logo {
	display: block;
}

#footer .logo.mb-xl {
	margin-bottom: 12px;
}

#footer .footer-copyright {
	background: #060606;
	border-top: 4px solid #060606;
	margin-top: 40px;
	padding: 30px 0 10px;
}

#footer .footer-copyright nav {
	float: right;
}

#footer .footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer .footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

#footer .footer-copyright p {
	color: #555;
	margin: 0;
	padding: 0;
}

#footer .phone {
	color: #FFF;
	font-size: 26px;
	font-weight: bold;
	display: block;
	padding-bottom: 15px;
	margin-top: -5px;
}

#footer .narrow-phone {
	text-align: right;
	margin: -2px 0 0 0;
}

#footer .narrow-phone .phone {
	font-size: 16px;
	padding-bottom: 0;
	margin-top: -13px;
}

#footer .recent-work {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .recent-work li {
	float: left;
	width: 30%;
	margin: 10px 3% 0 0;
}

#footer .recent-work img {
	border: 0;
	width: 100%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
}

#footer .recent-work .img-thumbnail-hover-icon {
	border: 0;
}

#footer .recent-work .img-thumbnail-hover-icon:after {
	font-size: 22px;
	margin-left: -2px;
}

#footer .view-more-recent-work {
	padding: 12px;
}

#footer.short {
	padding-top: 50px;
}

#footer.short .footer-copyright {
	background: transparent;
	border: 0;
	padding-top: 0;
	margin-top: 0;
}

#footer.light {
	padding-top: 60px;
	background: #FFF;
	border-top: 1px solid #DDD;
}

#footer.light .footer-ribbon {
	margin-top: -76px;
	margin-left: 14px;
}

#footer.light .footer-copyright {
	margin-top: 15px;
	background: #FFF;
	border-top: 1px solid #DDD;
}

#footer.light .footer-copyright p {
	color: #777;
}

#footer.light .phone,
#footer.light .twitter-account {
	color: #777;
}

#footer.light ul.nav-pills > li.active > a {
	color: #FFF;
}

#footer.narrow {
	padding-top: 30px;
}

#footer.narrow .footer-copyright {
	margin-top: 0;
}

#footer.narrow .nav > li > a {
	padding: 5px 12px;
}

#footer.color {
	color: #FFF;
}

#footer.color p {
	color: #FFF;
}

#footer.color .footer-copyright nav ul li {
	border-left-color: #FFF;
}

/* Responsive */
@media (max-width: 991px) {
	#footer .phone {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	/* Footer */
	#footer .phone {
		font-size: 20px;
	}
}
/* footer style */

#footer .newsletter .form-control {
    background-color: white !important;
    border-color: #ff530a !important;
}


.social-icons li a {
    color: #ff530a !important;
   
}
#footer .footer-ribbon:before {
    border-right-color: #ff530a;
    border-left-color: #ff530a;
}
#footer .footer-ribbon {
    background: #ff530a;
}
#footer.light h1, #footer.light h2, #footer.light h3, #footer.light h4, #footer.light a {
    color: #ff530a;
}

.social-icons li a {
    border: 0px solid #fff;
}

#logofoodhour{
    margin-left: 27px;
}

#newsletter1{
    margin-bottom: 30px;
    border: 0px solid #fbfbfb;
}
#footer .footer-copyright .row {
     border-top: 0px solid #2a313a;
}

.social-icons li {
    display: inline-block;
    margin: -1px 1px 5px 0;
    padding: 0;
    border-radius: 100%;
    overflow: visible;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
}
#newsletterEmail {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.social-icons li a {
    transition: all 0.2s ease;
    background: #FFF;
    border-radius: 100%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

a:focus {
    outline-offset: -2px;
}
.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-default {
    color: #ccc;
    background-color: #fff;
    border-color: #ccc;
}
/* Boxed Layout */
html.boxed body {
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat;
}

html.boxed .body {
	position: relative;
	background-color: #FFF;
	border-bottom: 5px solid #1d2127;
	border-radius: 5px;
	border-top: 5px solid #CCC;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
	margin: 25px auto;
	max-width: 1200px;
	height: auto;
}



html.boxed .main {
	overflow: hidden;
}

/* Responsive */
@media (min-width: 1200px) {
	html.boxed.sticky-header-active #header .header-body {
		width: auto;
	}

	html.boxed #header.header-transparent .header-body,
	html.boxed #header.header-semi-transparent .header-body,
	html.boxed #header.header-semi-transparent-light .header-body {
		width: auto;
	}
}

@media (min-width: 992px) {
	html.boxed #header .header-top.header-top-colored {
		margin-top: -18px;
		border-radius: 4px 4px 0 0;
	}

	html.boxed #header.header-transparent .header-body,
	html.boxed #header.header-semi-transparent .header-body,
	html.boxed #header.header-semi-transparent-light .header-body {
		position: absolute;
		padding-left: 15px;
		padding-right: 15px;
	}

	html.boxed #header .header-top.header-top-style-2,
	html.boxed #header .header-top.header-top-style-3,
	html.boxed #header .header-top.header-top-style-4 {
		margin-top: -13px;
	}

	html.boxed.sticky-header-active #header .header-body {
		position: fixed !important;
		padding-left: 15px;
		padding-right: 15px;
	}

	html.boxed.sticky-header-active #header .header-nav-bar {
		margin: 0 -15px -9px;
	}
}

@media (max-width: 991px) {
	html.boxed .body {
		margin: 0 auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

@media (max-width: 767px) {
	/* Boxed */
	html.boxed {
		background: none !important;
	}
}
