<section id="pageheader" class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h1>{{title}}</h1>
          </div>
          <div class="col-md-6">
              <div class="header-search hidden-xs">
                  <form id="searchForm"  method="get">
                      <div class="input-group" id="cookingsearch">
                          <input type="text" class="form-control" name="q" id="q"
                           placeholder="Search..." required (keyup)='onChange()' [(ngModel)]='txtSearch'>
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>