<!-- <div class="blog-posts single-post">

  <article class="post post-large blog-single-post">
    <div class="post-image">
      <div class="thumb-gallery">
        <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="{{item.imageArr[0]}}" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="../../../../assets/images/cooking method/grill.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="../../../assets/images/cooking method/grill.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="../../../assets/images/cooking method/grill.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="img/projects/project-6.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="img/projects/project-2.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail">
              <img alt="Project Image" src="img/projects/project-4.jpg" class="img-responsive">
            </span>
          </div>
        </div>
        <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic3.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic4.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic5.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic6.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic4.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/Food_Hour_Images/Pic5.jpg" class="img-responsive">
            </span>
          </div>
          <div>
            <span class="img-thumbnail cur-pointer">
              <img alt="Project Image" src="img/projects/project-4.jpg" class="img-responsive">
            </span>
          </div>
        </div>
      </div>
    </div>
  </article>

</div> -->
<div>
  <span class="thumb-info">
    <span class="thumb-info-wrapper">
      <span>
        <img alt="" class="img-responsive" src="{{item.imageUrl}}">
      </span>
    </span>
  </span>
</div>