
 
<!--listing items========-->
<br>
<br>
<br>
<ul id="ourBlog" class="p-none">
  <li class="col-sm-4 col-md-3 isotope-item p-md">
      <article class="our-blog-item">
          <a href="demo-photography-3-blog-post.html" class="text-decoration-none">
              <span class="image-wrapper">
                  <img src="images/o.jpg" alt="" class="img-responsive" />
              </span>
              <span class="category text-uppercase background-color-quaternary" id="fav">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </span>
          </a>
          <div class="post-infos">
              <div class="share">
                  <div class="share-icons background-color-quaternary">
                      <a href="#" class="text-decoration-none" title="Share on Facebook">
                          <i class="fa fa-facebook"></i>
                      </a>
                      <a href="#" class="text-decoration-none" title="Share on Twitter">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#" class="text-decoration-none" title="Share on Linkedin">
                          <i class="fa fa-linkedin"></i>
                      </a>
                      <i class="fa fa-share-alt"></i>
                  </div>
              </div>
              <span class="post-date">
                  31 NOV 2016
              </span>
              <h1 class="font-weight-normal">
                  <a href="demo-photography-3-blog-post.html" class="text-decoration-none">Incredible Places</a>
              </h1>
              <a href="demo-photography-3-blog-post.html" class="text-decoration-none">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur diam id urna...
                  </p>
              </a>
          </div>
      </article>
  </li>
</ul>

<!-- Vendor -->

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/jquery-cookie/jquery-cookie.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/common/common.min.js"></script>
<script src="vendor/jquery.validation/jquery.validation.min.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="vendor/isotope/jquery.isotope.min.js"></script>
<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/vide.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="js/theme.js"></script>
<!-- Theme Custom -->
<script src="js/custom.js"></script>
<!-- Theme Initialization Files -->
<script src="js/theme.init.js"></script>
<!-- Current Page Vendor and Views -->
<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Current Page Vendor and Views -->
<script src="js/views/view.contact.js"></script>

<!-- Demo -->
<script src="js/demos/demo-medical.js"></script>




