ul.listing{
    list-style: none;
    
    
}
/* ul.nav-pills > li.active > a {
    background-color: #ff530a;
    color:white !important;
}
ul.nav-pills > li.active > a:hover, ul.nav-pills > li.active > a:focus {
    background-color: #feaa26;
} */