<div id="addpost">
  <button id="btn-create" type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
  
  <ng-template #template>
      <form (ngSubmit)="onSave(template)" #myform="ngForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add New Post </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="input-group col-xs-12">
          <input type="text" class="form-control" name='title' [(ngModel)]='newpost.title'
          placeholder="Title" aria-describedby="basic-addon1" required>
        </div>
      </div>
  
      <div class="row">
        <div class="input-group col-xs-12">
          <textarea class="form-control txtArea"name='content' [(ngModel)]='newpost.content'
          placeholder="Add Text"></textarea>
        </div>
    
      </div>
      <div class="row img">
        
        <input style="display: none" 
        type="file" (change)="onFileChanged($event)" #fileInput>
     
  
      <img [src]="newpost.image" 
      (click)="fileInput.click()" alt="Scott Stevens" class="img-responsive img-circle" />
  
      <span class="text-muted">Add Photo</span>
    </div>

    <div class="row" style="padding:20px;">
      <button type="submit" id="action" class="btn  addbtn col-xs-7 ">Add Contact</button>
    
      <button type="button" id="action" class="btn cancelbtn col-xs-7" (click)='onCancel()'>Cancel</button>
    </div>
  
      
    
  
  
    </div>
  </form>
  </ng-template>
  </div>