<div class="container">
  <h3>
    <strong>{{item.name}} Recipes</strong>
  </h3>
  <br>
  <br>
</div>
<div class="owl-carousel owl-theme full-width" data-plugin-options="{'items': 5, 'loop': false, 'nav': true, 'dots': false}">
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/35.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/blog-img-4.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
      
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/36.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
      
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/blog-img-5.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/blog-img-3.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/dd.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div>
    <a href="portfolio-single-small-slider.html">
      <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
        <span class="thumb-info-wrapper">
          <img src="../../../../assets/images/blog-img-6.jpg" class="img-responsive" alt="">
          <span class="thumb-info-title">
            <span class="thumb-info-inner">Project Title</span>
            <span class="thumb-info-type">Read More</span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
<br>