h3 {
    color: #ff530a ;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.thumb-info .thumb-info-wrapper:after {
    content: "";
    background: rgba(172, 167, 167, 0.5);
}
.owl-carousel .owl-nav [class*="owl-"] {
    color: #ffffff;
    background-color: #ff530a;
    border-color: #feaa26;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #ff530a;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-carousel .owl-nav .owl-next:before {
    font-family: FontAwesome;
    content: "\f054";
    position: relative;
    left: 2px;
    top: 1px;
}