
<!-- body======================-->
<body style="font-size:16px">
<div class="container">
  <br>
  <h3>
    <strong>tomato</strong>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
        <section class="toggle active">
          <label>Description</label>
          <div class="toggle-content">
            <p>A tomato is a nutrient-dense superfood that offers benefit to a range of bodily systems. Its nutritional content
              supports healthful skin, weight loss, and heart health.</p>
          </div>
        </section>
       
      </div>
    </div>
    <div class="col-md-6">
      <div class="portfolio-item">
        <a href="portfolio-single-small-slider.html">
          <span class="thumb-info thumb-info-no-zoom thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../assets/images/ctomato.jpg" class="img-responsive" alt="">

            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <hr>

  <!-- scripts===================== -->
  <script src="../../../assets/js/jquery.min.js"></script>
  <script src="../../../assets/js/jquery.appear.min.js"></script>
  <script src="../../../assets/js/jquery.easing.min.js"></script>
  <script src="../../../assets/js/owl.carousel.min.js"></script>
  <script src="../../../assets/js/theme.js"></script>
  <script src="../../../assets/js/theme.init.js"></script>
</div>
</body>